.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.text-gray {
    color: rgb(122, 122, 122);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.9375rem;
}  

.playfair {
    font-family: 'Playfair Display', serif;
    color: #00a8ff;
    word-wrap: wrap;
}

.navbar-brand {
    color: #00a8ff !important;
}

.navbar-nav > li > a {
    color: #000 !important;
    font-family: 'Raleway', sans-serif !important;
    text-transform: uppercase !important;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1em;
    text-decoration: none;
    transition: all .5s ease-in-out;
}

.navbar-nav > li > a:hover {
    background-color: transparent !important;    
    color: #00a8ff !important;
}

.navbar-nav > li > a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #00a8ff;
    transition: .3s width ease-in;
}

.navbar-nav > li > a:hover::after {
    width: 100%;
}

.company-title {
    color: #00a8ff;
    font-weight: bold;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
}

.footer-section {
    border-top-left-radius: 50% 20%;
    border-top-right-radius: 50% 20%;
    background-color: #347e8a;
    color: #fff;
    margin-top: 30px;
}

.header-title {
    display: block;
    font-family: 'Raleway', sans-serif;
    text-transform: none;
    font-weight: 700;
    font-style: normal;
    font-size: 68px;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 1em;
    color: #00a8ff;
}


.navbar {
    border-radius: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.brand-logo {
    height: auto;
    max-height: 100px;
    width: auto;
    max-width: 100%;
}

.affix {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}

.section-container {
    padding: 50px 20px;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;

}

.section-title {
    padding-left: 10px;
    font-size: 36px;
    line-height: 1.25;
    color: #00a8ff;
}

.padding-left {
    border-left: 3px solid #00a8ff;
    text-align: left;
    padding-left: 10px
}

.text-right {
    text-align: right;
}

.padding-right {
    border-right: 3px solid #00a8ff;
    text-align: right;
    padding-right: 10px;
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}


.about-section-banner {
    position: relative;
    background-image: url(../img/mainHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    clip-path: polygon(
    0 0,
    100% 0%,
    100% 100%,
    0 calc(100% - 7vw)
    );
    padding-top: 80px;
    padding-bottom: 80px;
}

.card-img-top {
    width: 21.875rem;
    height: 12.5rem;
    display: flex;
    justify-content: center;
}
