.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.text-gray {
    color: rgb(122, 122, 122);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.9375rem;
}  

.playfair {
    font-family: 'Playfair Display', serif;
    color: #00a8ff;
    word-wrap: wrap;
}

.navbar-brand {
    color: #00a8ff !important;
}

.navbar-nav > li > a {
    color: #000 !important;
    font-family: 'Raleway', sans-serif !important;
    text-transform: uppercase !important;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1em;
    text-decoration: none;
    transition: all .5s ease-in-out;
}

.navbar-nav > li > a:hover {
    background-color: transparent !important;    
    color: #00a8ff !important;
}

.navbar-nav > li > a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #00a8ff;
    transition: .3s width ease-in;
}

.navbar-nav > li > a:hover::after {
    width: 100%;
}

.company-title {
    color: #00a8ff;
    font-weight: bold;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
}

.footer-section {
    border-top-left-radius: 50% 20%;
    border-top-right-radius: 50% 20%;
    background-color: #347e8a;
    color: #fff;
    margin-top: 30px;
}

.header-title {
    display: block;
    font-family: 'Raleway', sans-serif;
    text-transform: none;
    font-weight: 700;
    font-style: normal;
    font-size: 68px;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 1em;
    color: #00a8ff;
}


.navbar {
    border-radius: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.brand-logo {
    height: auto;
    max-height: 100px;
    width: auto;
    max-width: 100%;
}

.affix {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}

.section-container {
    padding: 50px 20px;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;

}

.section-title {
    padding-left: 10px;
    font-size: 36px;
    line-height: 1.25;
    color: #00a8ff;
}

.padding-left {
    border-left: 3px solid #00a8ff;
    text-align: left;
    padding-left: 10px
}

.text-right {
    text-align: right;
}

.padding-right {
    border-right: 3px solid #00a8ff;
    text-align: right;
    padding-right: 10px;
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}


.about-section-banner {
    position: relative;
    background-image: url(../img/mainHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    clip-path: polygon(
    0 0,
    100% 0%,
    100% 100%,
    0 calc(100% - 7vw)
    );
    padding-top: 80px;
    padding-bottom: 80px;
}

.card-img-top {
    width: 21.875rem;
    height: 12.5rem;
    display: flex;
    justify-content: center;
}


#sidebar {
    overflow: hidden;
    z-index: 3;
}
#sidebar .list-group {
    min-width: 400px;
    background-color: #fff;
    min-height: 100vh;
}
#sidebar i {
    margin-right: 6px;
}

#sidebar .list-group-item {
    border-radius: 0;
    background-color: #fff;
    color: #00a8ff;
    border-left: 0;
    border-right: 0;
    border-color: rgba(0,0,0,0.2);
    white-space: nowrap;
}

/* highlight active menu */
#sidebar .list-group-item:not(.collapsed) {
    background-color: #fff;
}

/* closed state */
#sidebar .list-group .list-group-item[aria-expanded="false"]::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* open state */
#sidebar .list-group .list-group-item[aria-expanded="true"] {
  background-color: #fff;
}
#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* level 1*/
#sidebar .list-group .collapse .list-group-item,
#sidebar .list-group .collapsing .list-group-item  {
  padding-left: 20px;
}

/* level 2*/
#sidebar .list-group .collapse > .collapse .list-group-item,
#sidebar .list-group .collapse > .collapsing .list-group-item {
  padding-left: 30px;
}

/* level 3*/
#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
  padding-left: 40px;
}

@media (max-width:768px) {
    #sidebar {
        min-width: 35px;
        max-width: 40px;
        overflow-y: auto;
        overflow-x: visible;
        transition: all 0.25s ease;
        transform: translateX(-45px);
        position: fixed;
    }
    
    #sidebar.show {
        transform: translateX(0);
    }

    #sidebar::-webkit-scrollbar{ width: 0px; }
    
    #sidebar, #sidebar .list-group {
        min-width: 35px;
        overflow: visible;
    }
    /* overlay sub levels on small screens */
    #sidebar .list-group .collapse.show, #sidebar .list-group .collapsing {
        position: relative;
        z-index: 1;
        width: 190px;
        top: 0;
    }
    #sidebar .list-group > .list-group-item {
        text-align: center;
        padding: .75rem .5rem;
    }
    /* hide caret icons of top level when collapsed */
    #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
    #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
        display:none;
    }
}

.collapse.show {
  visibility: visible;
}

.collapsing {
  visibility: visible;
  height: 0;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: 100%;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.product-grid9,.product-grid9 .product-image9{position:relative; }
.product-grid9 { font-family:Poppins,sans-serif;z-index:1;margin-bottom: 30px;}
.product-grid9 .product-image9 a{display:block;}
.product-grid9 .product-image9 img{width:100%;height:40vh;}
.product-grid9 .pic1{opacity:1;transition:all .5s ease-out 0s; width: 500px; height: 350px;}
.product-grid9:hover .pic1{opacity:0;}
.product-grid9 .pic2{position:absolute;top:0;left:0;opacity:0;transition:all .5s ease-out 0s;width: 500px; height: 200px;}
.product-grid9:hover .pic2{opacity:1;}
.product-grid9 .product-full-view{color:#505050;background-color:#fff;font-size:16px;height:45px;width:45px;padding:18px;border-radius:100px 0 0;display:block;opacity:0;position:absolute;right:0;bottom:0;transition:all .3s ease 0s;}
.product-grid9 .product-full-view:hover{color:#00a8ff;}
.product-grid9:hover .product-full-view{opacity:1;}
.product-grid9 .product-content{padding:12px 12px 0;overflow:hidden;position:relative;}
.product-grid9 .title{font-size:16px;font-weight:400;text-transform:capitalize;margin:0 0 3px;color:rgba(0,0,0,.5);}
.product-grid9 .title:hover{color:#00a8ff;}
.product-grid9 .add-to-cart{display:block;color:#00a8ff;font-weight:600;font-size:14px;opacity:0;position:absolute;left:10px;bottom:-20px;transition:all .5s ease 0s; background-color: #fff;}
.product-grid9:hover .add-to-cart{opacity:1;bottom:0;}
@media only screen and (max-width:990px){.product-grid9{margin-bottom:30px;}
}

.product-grid9 .product-image9-hover { 
  position: absolute;
  display: block;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,168,255,0.6);
  z-index: 2;
  cursor: pointer;
  color: #fff;
  transition: .5s ease-in-out;
}

.product-grid9:hover .product-image9-hover {
    opacity: 1;
}

.product-grid9 .product-image9-details {
  color: #fff;
  position: absolute;
  top: 25%;
  left: 25%;
  opacity: 0;
  -webkit-transform: translate(-25%, -25%);
  -ms-transform: translate(-25%, -25%);
  transform: translate(-25%, -25%);  
}

.product-grid9:hover .product-image9-details {
    opacity: 1;
}

.product-image-title {
    font-weight:600;
    text-transform:capitalize;
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif
}

.product-image-desc {
    display:block;
    font-weight:400;
    font-size: 0.7rem; 
    line-height: 1.5;
    word-spacing: 1px;
    color: #fff !important;
}